# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Debug / Release
Debug/
Release/

# .NET binaries
*.exe
*.dll
*.pdb

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini